.git
.github
.idea
.build
vendor
var
node_modules
custom/static-plugins/*/node_modules
custom/static-plugins/*/playwright-report
custom/static-plugins/*/test-results
public/media
public/thumbnail
public/sitemap
public/theme
public/bundles
files
.env.local
.env.*.local
compose.yaml
compose.prod.yaml
Makefile
docker
docs
dump.sql
dump.sql.gz
install.lock
