parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    paths:
        - ../custom/static-plugins/FibBookingSystem/src
        - ../custom/static-plugins/FibBookingDemoData/src
        - ../custom/static-plugins/FibBookingTheme/src
    excludePaths:
        - ../custom/static-plugins/*/src/Resources/*
    bootstrapFiles:
        - ../vendor/autoload.php
